 /* Style for the input box */
 .gray-input {
    background-color: rgb(179, 178, 178);
    border: 1px solid rgb(179, 178, 178);
    padding: 5px;
    width: 200px; 
  }

  .button{
      background-color: dodgerblue;
      color: white;
      border: 2px solid dodgerblue;
      width: 100px;
      padding: 5px;
      
  }

  .input{
    background-color: rgb(179, 178, 178);
    border: 1px solid rgb(179, 178, 178);
    padding: 5px;
    width: 80px; 

  }

  .section
  {
    background-color: antiquewhite;
      text-align: center;
  }
  .head-design
  {
    text-align: center;
    color: chocolate;
  }


 